export KUBECONFIG="$PWD/.kube/config"
export GOOGLE_APPLICATION_CREDENTIALS=REPLACE_ME
export CLOUDSDK_ACTIVE_CONFIG_NAME=REPLACE_ME
export TFVARS_FILE=sk.local.tfvars
source_env_if_exists .envrc.local